<!DOCTYPE html>
<html>
<head>
    <title>Garbage Classifier</title>
    <style>
        body {
            font-family: Arial;
            text-align: center;
            margin-top: 50px;
        }
        input {
            margin: 10px;
        }
    </style>
</head>
<body>

    <h2>Garbage Classification App</h2>

    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <br>
        <input type="submit" value="Predict">
    </form>

    {% if prediction %}
        <h3>Prediction: {{ prediction }}</h3>
    {% endif %}

</body>
</html>